<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .red{
            color: red;
        }
    </style>
</head>
<body>
<div id="div1">
    <input type="text" v-model="val" @keyup="search">
    <button @click="add">add</button>
    <ul>
        <li v-for="(a,b) in arr" @click="a.active=!a.active;" :class="{red:a.active}" v-show="a.show">
            {{a.value}}<button @click="del(b)">del</button>
        </li>
    </ul>
</div>
<script src="vue.js"></script>
<script>
    var re=new Vue({
        el:'#div1',
        data:{
            arr:[],
            val:''
        },
        methods:{
            add(){
                this.arr.push({value:this.val,active:false,show:true});
                this.val='';
                this.arr.sort(function (a,b) {
                    return a.value-b.value
                });
                this.arr.forEach((elem)=> {

                        elem.show = true

                    }
                )
            },
            search(){
                this.arr.forEach((elem)=> {

                        elem.show = true

                    }
                )                //退回时候
                this.arr.forEach((elem)=>{
                    if( elem.value.indexOf(this.val)==-1){
                               elem.show=false
                    }
                }
                )


            },
            del(b){
                this.arr.splice(b,1)
            }
        }
    })
</script>
</body>
</html>